<header class="header">
  <nav class="navbar navbar-expand-lg header-nav">
    <div class="navbar-header">
      <a id="mobile_btn" href="javascript:void(0);">
        <span class="bar-icon">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </a>
      <a href="index-2.html" class="navbar-brand logo">
        <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
      </a>
    </div>
    <div class="main-menu-wrapper">
      <div class="menu-header">
        <a href="index-2.html" class="menu-logo">
          <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
        </a>
        <a id="menu_close" class="menu-close" href="javascript:void(0);">
          <i class="fas fa-times"></i>
        </a>
      </div>
      <ul class="main-nav">
        <li>
          <a routerLink="/dashbord" >Home</a>
        </li>
        <li *ngIf="Currentuseractive['role']=='medecin'"  class="has-submenu">
          <a href="" >Sécretaire <i class="fas fa-chevron-down"></i></a>
          <ul class="submenu">

            <li><a routerLink="/addsecretaire">Add Secretary</a></li>
            <li><a routerLink="/listesecretaire">Secretarys List</a></li>

          </ul>
        </li>
      </ul>
    </div>
    <ul class="nav header-navbar-rht">


      <!-- User Menu -->
      <li class="nav-item dropdown has-arrow logged-item">
        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
          <span class="user-img">
            <img class="rounded-circle" src="http://localhost:8081/acteur/files/{{user?.photo}}" width="31" >
          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="user-header">
            <div class="avatar avatar-sm">
              <img src="http://localhost:8081/acteur/files/{{user?.photo}}" alt="User Image" class="avatar-img rounded-circle">
            </div>
            <div class="user-text">
              <h6></h6>
              <p class="text-muted mb-0">{{user?.role}}</p>
            </div>
          </div>
          <a class="dropdown-item" routerLink="/dashboard">Dashboard</a>
          <a class="dropdown-item" routerLink="profilsetting">Profile Settings</a>
          <a class="dropdown-item" (click)="logout()" >Logout</a>
        </div>
      </li>
      <!-- /User Menu -->

    </ul>
  </nav>
</header>
