
<!-- Main Wrapper -->
  <div class="main-wrapper">

    <!-- Header -->

    <!-- /Header -->

    <!-- Sidebar -->

    <!-- /Sidebar -->

    <!-- Page Wrapper -->
          <div class="page-wrapper">

              <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
          <div class="row">
            <div class="col-sm-12">
              <h3 class="page-title">Welcome Admin!</h3>
              <ul class="breadcrumb">
                <li class="breadcrumb-item active">Dashboard</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /Page Header -->

        <!-- <div class="row">
          <div class="col-xl-5 col-sm-6 col-12">
            <div class="card">
              <div class="card-body">
                <div class="dash-widget-header">
                  <span class="dash-widget-icon text-primary border-primary">
                    <i class="fe fe-users"></i>
                  </span>
                  <div class="dash-count">
                    <h3>168</h3>
                  </div>
                </div>
                <div class="dash-widget-info">
                  <h6 class="text-muted">Doctors</h6>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-primary w-50"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-5 col-sm-6 col-12">
            <div class="card">
              <div class="card-body">
                <div class="dash-widget-header">
                  <span class="dash-widget-icon text-warning border-warning">
                    <i class="fe fe-folder"></i>
                  </span>
                  <div class="dash-count">
                    <h3>$62523</h3>
                  </div>
                </div>
                <div class="dash-widget-info">

                  <h6 class="text-muted">Revenue</h6>
                  <div class="progress progress-sm">
                    <div class="progress-bar bg-warning w-50"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <div class="row">
          <div class="col-md-6 d-flex">



          </div>
          <div class="col-md-6 d-flex">

            <!-- Feed Activity -->

            <!-- /Feed Activity -->

          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search..."
                [(ngModel)]="term"
              />
            </div>
            <!-- Recent Orders -->
            <div class="card card-table">
              <div class="card-header">
                <h4 class="card-title">liste Des Medecins</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover table-center mb-0">
                    <thead>
                      <tr>
                        <th>Full Name of doctor </th>
                        <th>Specialite</th>
                        <th>Email</th>
                        <th>Phone Number</th>


                        <th>Membre since</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let m of medecinlist| recherche: term;" >
                        <td>
                          <h2 class="table-avatar">
                            <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="http://localhost:8081/medecin/files/{{m.photo}}" alt="User Image"></a>
                            <a href="profile.html">{{m.nomprenom}}</a>
                          </h2>
                        </td>
                        <td>{{m.specialite.specialites}}</td>
                        <td>
                {{m.email}}
                        </td>
                        <td>{{m.numtel}}</td>


                        <td>
                          {{m.datedachat}}
                        </td>
                        <td class="text-right">
                          <div class="actions">

                            <a  data-toggle="modal" (click)="delete(m.id)"   class="btn btn-sm bg-danger-light">
                              <i class="fe fe-trash"></i> Delete
                            </a>
                            <label class="switch"  >
                              <input (click)="statusdoctor(m)"   type="checkbox"  [checked]="m.state " >
                              <span class="slider round"></span>
                            </label>

                          </div>
                        </td>
                      </tr>



                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- /Recent Orders -->

          </div>
        </div>

      </div>
    </div>
    <!-- /Page Wrapper -->

      </div>
  <!-- /Main Wrapper -->



