<!--footer-->
<footer class="footer">

  <!-- Footer Top -->
  <div class="footer-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-6">

          <!-- Footer Widget -->
          <div class="footer-widget footer-about">
            <div class="footer-logo">
              <img src="assets/img/footer-logo.png" alt="logo">
            </div>
            <div class="footer-about-content">
              <p>Your Fast And Easy way to keep yourself in a good health , you can easly keep up with your updates  in your
                medical file </p>
              <div class="social-icon">
                <ul>
                  <li>
                    <a href="https://www.facebook.com/wiem.khedri.1/" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                  </li>

                  <li>
                    <a href="https://www.linkedin.com/in/wiem-khedri-2971b2223/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/khedriwiem/" target="_blank"><i class="fab fa-instagram"></i></a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
          <!-- /Footer Widget -->

        </div>

        <div class="col-lg-3 col-md-6">

          <!-- Footer Widget -->
          <div class="footer-widget footer-menu" style="  margin-left: 108px; ">
            <h2 class="footer-title">For Patients</h2>
            <ul>
              <li><a href="" routerLink="../listedoctors"><i class="fas fa-angle-double-right"></i>Search Doctor</a></li>
              <li *ngIf="state!=='1'"><a href="" routerLink="../login"><i class="fas fa-angle-double-right"></i> Sign in</a></li>
              <li *ngIf="state!=='1'"><a href=""  routerLink="../register"><i class="fas fa-angle-double-right"></i> Register</a></li>
              <li *ngIf="state=='1'"><a href="" routerLink="../dashboard" ><i class="fas fa-angle-double-right"></i> Patient Dashboard</a></li>
            </ul>
          </div>
          <!-- /Footer Widget -->

        </div>

        <div class="col-lg-3 col-md-6">

          <!-- Footer Widget -->

          <!-- /Footer Widget -->

        </div>

        <div class="col-lg-3 col-md-6">

          <!-- Footer Widget -->
          <div class="footer-widget footer-contact" style="    margin-left: -136px;">
            <h2 class="footer-title">
            Contact us </h2>
            <div class="footer-contact-info">
              <div class="footer-address">
                <span><i class="fas fa-map-marker-alt"></i></span>
                <p> Qsar Bardo <br> Beja</p>
              </div>
              <p>
                <i class="fas fa-phone-alt"></i>
              +21623857642
              </p>
              <p class="mb-0">
                <i class="fas fa-envelope"></i>
               wiemkhedri50@gmail.com
              </p>
            </div>
          </div>
          <!-- /Footer Widget -->

        </div>

      </div>
    </div>
  </div>
  <!-- /Footer Top -->

  <!-- Footer Bottom -->

  <!-- /Footer Bottom -->

</footer>
<!--/footer-->
