			<!-- Page Content -->
			<div class="content">
				<div class="container">

					<!-- Doctor Widget -->
					<div class="card">
						<div class="card-body">
							<div class="doctor-widget">
								<div class="doc-info-left">
									<div class="doctor-img">
										<img src="assets/img/doctors/doctor-thumb-02.jpg" class="img-fluid" alt="User Image">
									</div>
									<div class="doc-info-cont">
										<h4 class="doc-name">Dr. Darren Elder</h4>
<br>
										<p class="doc-department"><i class="fa fa-envelope" aria-hidden="true"></i>jjjjjjjjjjjjjjjjjjjjjjjj</p>



									</div>
								</div>
								<div class="doc-info-right">

<br>

									<div class="clinic-booking">
										<a class="apt-btn" routerLink="/detaillepatient/{{fichepatient.id}}">Medical File</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Doctor Widget -->
<!-- Doctor Details Tab -->
<div class="card">
  <div class="card-body pt-0">

    <!-- Tab Menu -->
    <nav class="user-tabs mb-4">
      <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
        <li class="nav-item">
          <a class="nav-link active" href="#doc_overview" data-toggle="tab">Patient File</a>
        </li>

      </ul>
    </nav>
    <!-- /Tab Menu -->

    <!-- Tab Content -->
    <div class="tab-content pt-0">

      <!-- Overview Content -->
      <div role="tabpanel" id="doc_overview" class="tab-pane fade show active">
        <div class="row">
          <div class="col-md-6 offset-md-3">

            <!-- Business Hours Widget -->
            <div class="widget business-widget">
              <div class="widget-content">
                <div class="listing-hours">
                  <div class="listing-day current">
                    <div class="day">File<span></span></div>
                    <div class="time-items">
                      <a class="edit-link" type="button"  style="color: rgb(77, 141, 167);"><i class="fa fa-edit mr-1"></i>Edit</a>

                    </div>
                  </div>
                  <div class="listing-day">
                    <div class="day">Full Name</div>
                    <div class="time-items">
                      <span class="time">{{fichepatient.nomprenom}}</span>
                    </div>
                  </div>
                  <div class="listing-day">
                    <div class="day">Date of Birth

                    </div>
                    <div class="time-items">
                      <span class="time">07:00 AM - 09:00 PM</span>
                    </div>
                  </div>
                  <div class="listing-day">
                    <div class="day">Gender

                    </div>
                    <div class="time-items">
                      <span class="time">07:00 AM - 09:00 PM</span>
                    </div>
                  </div>
                  <div class="listing-day">
                    <div class="day">Phone Number</div>
                    <div class="time-items">
                      <span class="time">07:00 AM - 09:00 PM</span>
                    </div>
                  </div>
                  <div class="listing-day">
                    <div class="day">Social State

                    </div>
                    <div class="time-items">
                      <span class="time">07:00 AM - 09:00 PM</span>
                    </div>
                  </div>
                  <div class="listing-day">
                    <div class="day">Adress</div>
                    <div class="time-items">
                      <span class="time">07:00 AM - 09:00 PM</span>
                    </div>
                  </div>
                  <div class="listing-day">
                    <div class="day">Chronic Disease</div>
                    <div class="time-items">
                      <span class="time">07:00 AM - 09:00 PM</span>
                    </div>
                  </div>
                  <div class="listing-day">
                    <div class="day">       Medicine Use</div>
                    <div class="time-items">
                      <span class="time">07:00 AM - 09:00 PM</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Business Hours Widget -->

          </div>
        </div>
      </div>
      <!-- /Overview Content -->





    </div>
  </div>
</div>
<!-- /Doctor Details Tab -->

				</div>
			</div>
			<!-- /Page Content -->
