<div class="profile-sidebar">
  <div class="widget-profile pro-widget-content">
    <div class="profile-info-widget">
      <a href="#" class="booking-doc-img">
        <img src="http://localhost:8081/acteur/files/{{currentuseractive?.photo}}" alt="User Image">
      </a>
      <div class="profile-det-info">
        <h3>{{currentuseractive?.nomprenom}}</h3>

        <div class="patient-details">
          <h3 class="mb-0">{{currentuseractive?.role}}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-widget">
    <nav class="dashboard-menu">
      <ul>
        <li [class]="activeSideBar == 'dashbord' ? 'active':'' " (click)="change('dashbord')">
          <a  routerLink="/dashbord">
            <i class="fas fa-columns"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li [class]="activeSideBar == 'patients' ? 'active':'' " (click)="change('patients')">
          <a routerLink="/dashbord/listpatient">
            <i class="fas fa-user-injured"></i>
            <span>My Patients</span>
          </a>
        </li>
        <li [class]="activeSideBar == 'allpatient' ? 'active':'' " (click)="change('allpatient')">
          <a routerLink="/dashbord/allpatients">
            <i class="fas fa-file-invoice"></i>
            <span>All Patient</span>
          </a>
        </li>
        <li [class]="activeSideBar == 'rendezvous' ? 'active':'' " (click)="change('rendezvous')">
          <a  routerLink="/dashbord/calnder">
            <i class="fas fa-calendar-check"></i>
            <span>Rendez-Vous</span>
          </a>
        </li>
        <!-- <li>
          <a routerLink="details">
            <i class="fas fa-file-invoice"></i>
            <span>Dossier Médicale</span>
          </a>
        </li> -->
        <li  [class]="activeSideBar == 'profilesettings' ? 'active':'' " (click)="change('profilesettings')">
          <a routerLink="/dashbord/profilesettings">
            <i class="fas fa-user-cog"></i>
            <span>Profile Settings</span>
          </a>
        </li>

        <li [class]="activeSideBar == 'changepass' ? 'active':'' " (click)="change('changepass')">
          <a routerLink="/dashbord/changepassword">
            <i class="fas fa-lock"></i>
            <span>Change Password</span>
          </a>
        </li>
        <!-- <li >
          <a href="index-2.html">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
          </a>
        </li> -->
      </ul>
    </nav>
  </div>
</div>
