  <!-- Home Banner -->
  <section class="section section-search">
    <div class="container-fluid">
      <div class="banner-wrapper">
        <div class="banner-header text-center">
          <h1 style="    font-size: 36px;">Search Doctor, Make an Appointment</h1>
          <p>  Discover the best doctors,
           <!-- in the city nearest to you.</p> --> </p>
        </div>

        <!-- Search -->
        <!-- <div class="search-box">
          <form action="templateshub.net">

            <div class="form-group search-info">
              <input type="text" class="form-control" placeholder="Search Doctor " style=" margin-left: 188px;">
              <span class="form-text" style="    margin-left: 207px;">Based on your Location</span>
            </div>
            <button type="submit" class="btn btn-primary search-btn" style=" margin-left: 182px;"><i class="fas fa-search" ></i> <span>Search</span></button>
          </form>
        </div> -->
        <!-- /Search -->

      </div>
    </div>
  </section>
  <!-- /Home Banner -->
